name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build project
      run: echo "Building project..."

    - name: Run tests
      run: echo "Running tests..."

    - name: Send Slack notification
      if: always()
      run: |
        curl -X POST -H 'Content-type: application/json' \
        --data '{"text":"CI Pipeline Status: ${{ job.status }}"}' \
        ${{ secrets.SLACK_WEBHOOK_URL }}
        - name: Send Slack notification
  if: always()
  run: |
    curl -X POST -H 'Content-type: application/json' \
    --data '{"text":"CI Pipeline finished for repository devops-webapp. Status: ${{ job.status }}"}' \
    ${{ secrets.SLACK_WEBHOOK_URL }}



